/* Trang sign in */
.signin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 400px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.signin-page h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.signin-page input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signin-page .submitBtn {
  width: 100%;
  padding: 10px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin-page .submitBtn:hover {
  background: #333;
}

.signin-page .login {
  margin-top: 15px;
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;     
  gap: 10px;  
  margin-bottom: 50px;                       
}

.login h5 {
  margin: 0;
}

.login button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
