.h1{
    text-align: center;
}
.row {
    justify-content: center;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;     
  gap: 10px;  
  margin-bottom: 50px;                       
}

.login h5 {
  margin: 0;
}

.login button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
